body
	{
		background-color: lightblue;
	}
p	
	{
		background-color: #43BFC7;
		font-family: monospace;
		font-size: 15px; 

	}
h1	
	{
		background-color: #79BAEC;
		font-family: VT323, monospace;
		font-size: 50px;
	}

a:link, a:visited
	{
		background-color: none;
		color: orange;
		text-allign: center;
		text-decoration: none;
		display: inline-block;
		padding: 6px;
	}
a:hover, a:active
	{
		background-color: midnightblue;
		color: white;
	}