body
	{
		background-color: lightblue;
	}
p	
	{
		background-color: seashell;
		font-family: monospace;
		font-size: 15px; 

	}
h1	
	{
		background-color: pink;
		font-family: VT323, monospace;
		font-size: 50px;
	}
h3	
	{
		background-color: 
	}